<form action="/posts" method="POST">
  <input type="text" name="name" placeholder="Give post a name">
  <input type="text" name="content" placeholder="Give post content">
  <input type="submit" value="submit">
</form>
